<div class='row'>
    <div class="col-md-6 col-md-offset-2 center-block">
      <div class='answerbox center-block'>
        <strong><%= winner_name(@game) %> WINS! </strong>
      </div>
      <div class='top-buffer'>
      </div>

      <div class='center-block'>
        <button type="button" class="btn btn-default btn-lg col-md-5">
          <%= link_to 'Deal Again', '/play' %>
        </button>

        <button type="button" class="btn btn-default btn-lg col-md-5">
         <%= link_to 'Statistics', '/stats' %>
        </button>
      </div>

   </div>

</div>

