<div class='row'>
  <div class='col-md-12 center-bloc'>
    <h4 class="center-block"> STATISTICSi </h4>
 
    <table class="table table-bordered">
      <thead>
        <% @stats.first.each do |statistic| %>
          <th><%= "Game #{statistic.last}" if statistic.first.match(/game_/)%></th>
        <%end%>
      </thead>
      <tbody>
    </table>

  <div class='center-block'>
     <button type="button" class="btn btn-default btn-lg col-md-5">
       <%= link_to 'Deal Again', '/play' %>
     </button>
  </div>
  
</div>
